{% include 'dp-sections/section-parts/content.twig' %}
<div class="danzerpress-four-fifths danzerpress-col-center">
	<div class="danzerpress-flex-row danzerpress-row-fix">
	    {% for sub in layout.pricing_blocks %}
	       <div class="danzerpress-col-3 danzerpress-md-2 danzerpress-sm-2 danzerpress-xs-1">
				<div class="danzerpress-content-wrap">
					<div class="danzerpress-content-box" data-aos="fadeInUp">
						<h4>{{ sub.pricing_name }}</h4>
						<div class="price-wrap">
							<span class="price">${{ sub.price }}</span>
							<span class="frequency">{{ sub.frequency }}</span>
						</div>
						<p>{{ sub.pricing_content }}</p>
					</div>
				</div>
				<a href="{{ sub.pricing_button_target }}" class="danzerpress-button-modern">{{ sub.pricing_button_text }}</a>
			</div>
	    {% endfor %}
	</div>
</div>