<div class="danzerpress-flex-row danzerpress-row-fix">
    {% for sub in layout.icons_repeater %}
        <div class="{{layout.icons_layout}} icon-wrap danzerpress-col-{{ layout.number_of_rows }} danzerpress-md-2 danzerpress-sm-2 danzerpress-xs-1">
            {{(sub.link) ? '<a href="' ~ sub.link ~ '" class="danzerpress-hash">' : '' }}
                <div class="danzerpress-box danzerpress-background">
                    {% if (sub.image) %}
                        <div class="danzerpress-icon-box" data-aos="zoomIn">
                            {{dpImage(sub.image)}}
                        </div>
                    {% endif %}
                    <div class="danzerpress-content-box" data-aos="fadeInUp">
                        <h4>{{ sub.title }}</h4>
                        <p>{{ sub.description }}</p>
                    </div>
                </div>
                <div class="hover-state danzerpress-accent-background">
                </div>
            {{(sub.link) ? '</a>' : '' }}
        </div>
    {% endfor %}
</div>