{% if (layout.button_text_left or layout.button_text_right) %}
	<div class="danzerpress-button-wrap">
		<a href="{{ layout.button_link_left }}" class="danzerpress-button-modern danzerpress-button-left danzerpress-hash wow {{ options.get_button_animation }}">{{ layout.button_text_left }}</a>
		<a href="{{ layout.button_link_right }}" class="danzerpress-button-modern-transparent danzerpress-hash wow fadeIn">{{ layout.button_text_right }}</a>
	</div>
{% endif %}