<div class="danzerpress-col-1 danzerpress-col-center">
	<div class="danzerpress-flex-row danzerpress-row-fix">
		<div class="danzerpress-col-2 {{ dp.image_side(layout.image_side).order }}">
			<div class="danzerpress-image-wrap danzerpress-rectangle wow {{ dp.image_side(layout.image_side).wow }}">
				{% if ( layout.image_or_video == 'image') %}
					<img alt="Image for {{ post.title }}" data-fancybox="section-{{ iterator }}" data-src="{{ layout.section_image }}" class="danzerpress-ab-items" src="{{ layout.section_image }}">
				{% elseif ( layout.image_or_video == 'video' ) %}
					{{ dp.build_video(layout.section_video) }}
				{% endif %}
			</div>
		</div>
		<div class="danzerpress-col-2 danzerpress-flex-row">
			<div class="danzerpress-section-content danzerpress-align-self">
				<h2 class="danzerpress-title wow fadeIn">{{ layout.section_title }}</h2>
				<p class="wow fadeIn image-section-p">{{ layout.section_description }}</p>
				{% include 'templates/dp-sections/section-parts/content-buttons.twig' %}
			</div>
		</div>
	</div>
</div>